html,body {
    height: 100%;
}

#screen {
	height: 100%;
}

#mainlayout {
	height: 100%;
}

#playField {
	background-color: black;
	height: 100%;
}

#playerR {
	background-color: lightgreen;
	height: 75px;
	width: 15px;
	border-radius: 10px;
	float: right;
	position: relative;
}

#playerL {
	background-color: lightgreen;
	height: 75px;
	width: 15px;
	border-radius: 10px;
	float: left;
	position: relative;
}

#controller {
	background-color: lightgreen;
	height: 75px;
	width: 15px;
	border-radius: 10px;
	float: left;
	position: relative;
	margin-right:30px;
}

#player {
	background-color: black;
	height: 100%;
}

#ball{
	width: 20px;
	height: 20px;
	background-color: lightgreen;
	border-radius: 13px;
	position: relative;
}